body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F9D8B0;
  color: #382106;
}

#skip {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 13px;
  color: #B9A183;
}

#page {
  margin: 60px auto;
  width: 600px;
}

#questions .question {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.choices li {
  font-size: 80px;
  font-family: 'Passion One', cursive;
  text-align: center;
  line-height: 80px;
}

.choices {
  height: 70px;
  overflow: hidden;
}

#header {
  margin-bottom: 60px;
}

#header h1 {
  font-size: 45px;
  font-family: 'Passion One', cursive;
  margin-bottom: 20px;
}

#header h2 {
  line-height: 1.7;
  color: #796956;
}

#projects {
}

#projects .section {
  margin-bottom: 40px;
}

#projects .guide {
  width: 180px;
  float: left;
}

#projects .guide h2 {
  font-size: 20px;
  border-bottom: 1px dotted #B9A183;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#projects .guide p {
  line-height: 1.4;
  font-size: 13px;
  color: #796956;
  margin-bottom: 10px;
}

#projects .list {
  margin-left: 200px;
  width: 400px;
}

#projects .project {
  background: #FFE9CE;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
}

#projects h3 {
  font-weight: bold;
  color: #403A33;
}

#projects h3 span {
  font-size: 14px;
  color: #BFAF9A;
  font-weight: normal;
}

#projects h3 .links {
  float: right;
}

#projects .links a {
  color: #7F7F7F;
  margin-left: 5px;
}

#projects .links a:hover {
  color: #000000;
}

#projects .about {
  margin-top: 10px;
  font-size: 14px;
  color: #7F7467;
}

#projects .about ul {
  list-style: disc;
  margin-left: 32px;
  margin-top: 16px;
  line-height: 1.4;
}

#projects .about li {
  margin-top: 6px;
}

#buttons {
  text-align: center;
  margin-top: 40px;
}

#response {
  text-align: center;
}

#yes {
  background: #01C499;
}

#no {
  background: #F7931A;
}

.button {
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  padding: 20px 30px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
}

.button i {
  margin-right: 10px;
}

footer {
  color: #DFC29E;
  text-align: center;
  margin: 80px;
  line-height: 1.4;
  font-size: 14px;
}